@{ ViewData["Title"] = "Quiz Results"; }

<div class="text-center">
    <h1 class="display-4">Quiz</h1>
</div>

<br />
<h3>You got @ViewBag.Score/5</h3>
<br />
<h3>Question @ViewBag.Q1Qid: @ViewBag.Q1Q</h3>
<span>A. @ViewBag.Q1A</span>
<br />
<span>B. @ViewBag.Q1B</span>
<br />
<span>C. @ViewBag.Q1C</span>
<br />
<span>D. @ViewBag.Q1D</span>
<br />
<span class="text-danger">The correct answer is: @ViewBag.Q1Correct</span>
<br />
<h3>Question @ViewBag.Q2Qid: @ViewBag.Q2Q</h3>
<span>A. @ViewBag.Q2A</span>
<br />
<span>B. @ViewBag.Q2B</span>
<br />
<span>C. @ViewBag.Q2C</span>
<br />
<span>D. @ViewBag.Q2D</span>
<br />
<span class="text-danger">The correct answer is: @ViewBag.Q2Correct</span>
<br />
<h3>Question @ViewBag.Q3Qid: @ViewBag.Q3Q</h3>
<span>A. @ViewBag.Q3A</span>
<br />
<span>B. @ViewBag.Q3B</span>
<br />
<span>C. @ViewBag.Q3C</span>
<br />
<span>D. @ViewBag.Q3D</span>
<br />
<span class="text-danger">The correct answer is: @ViewBag.Q3Correct</span>
<br />
<h3>Question @ViewBag.Q4Qid: @ViewBag.Q4Q</h3>
<span>A. @ViewBag.Q4A</span>
<br />
<span>B. @ViewBag.Q4B</span>
<br />
<span>C. @ViewBag.Q4C</span>
<br />
<span>D. @ViewBag.Q4D</span>
<br />
<span class="text-danger">The correct answer is: @ViewBag.Q4Correct</span>
<br />
<h3>Question @ViewBag.Q5Qid: @ViewBag.Q5Q</h3>
<span>A. @ViewBag.Q5A</span>
<br />
<span>B. @ViewBag.Q5B</span>
<br />
<span>C. @ViewBag.Q5C</span>
<br />
<span>D. @ViewBag.Q5D</span>
<br />
<span class="text-danger">The correct answer is: @ViewBag.Q5Correct</span>
<br />